*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
}
.logo-img{
    max-width: 3vw;
    max-height: 3vw;
    
}
.logo-text{
    color: rgb(93, 35, 35);
    font-family: Zeyada;
}
.container{
    padding-top: 1vw;
    display: flex;
    justify-content: space-between;
}
.links li{
    display: flex;
    justify-content:space-evenly;
}

.links li ul{
    padding-right: 8vw;
    padding-top: 0.5vw;
}
.hero-img{
    
    max-width: 100%;
}
.hero-title{
    font-family:Zeyada;
    color: white;
    font-size: clamp(8vw , 2rem , 12vw);
    position: absolute;
    top: 15vw;
    right: 42vw;   
}
.products-heading{
    text-align: center;
    padding: 1vw;
    color: rgb(127, 86, 11);
}
.products{
 display: flex;
 justify-content: center;
}
.img1 , .img2 , .img3 , .img4{
    max-width: 23vw;
    padding: 1vw;
}
.products div h3{
    text-align: center;
    padding: 1vw;
}
.product-heading1{
    color: rgb(31, 129, 129); 
}
.product-heading2{
    color: rgb(93, 35, 35);
}
.product-heading3{
    color: rgb(127, 86, 11);
}
.foot{
    display: grid;
    background-color: rgb(193, 124, 46);
    padding: 2vw;
    grid-template-columns: repeat(4,1fr);
}
.foot-logo-img{
    max-width: 5vw;
    max-height: 5vw;
}
.foot-logo{
    font-family: Zeyada;
    text-align: center;
}
.foot-logo , .connect , .support , .company{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foot-logo div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect img{
    max-width: 1.2vw;
    max-height: 1.2vw;
}
.fb,.LinkedIN,.Email {
  display: grid;
  grid-template-columns: repeat(2,2vw);
   
}
.foot-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foot-end h4{
    padding: 1vw 1vw;
}