body{
    background-color: rgb(9, 9, 71);
    color: white;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 20vw;
}
 
#questions{
    margin: 0vw 10vw;
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);  
    gap: 2vw;
}
#question{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.choice{
    background-color: blue;
    color: white;
    font-size: clamp(2vw, 2rem ,6vw);
}
#result{
    text-align: center;
}
#scoreHead , #score {
    text-align: center;
}
 